.copm {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

ol {
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  margin-left: 20px;
}
button {
  padding: initial;
}
